src/main/resources/ws/schemas/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/stub/soap"
           xmlns="http://example.com/stub/soap"
           elementFormDefault="qualified">

    <xs:element name="SimpleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SimpleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
